/* Tabel Daftar Bahan Pokok */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.hapus-btn {
    padding: 6px 12px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    cursor: pointer;
}

.hapus-btn:hover {
    background-color: #ff3333;
}
