@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

/* tabel */
.table-container {
  flex-grow: 1;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  /* border: 2px solid #333; */
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid gainsboro;
}

th {
  background-color: #a74d9d;
  color: white;
}

.hapus-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.hapus-btn:hover {
  background-color: #ff1a1a;
}

/* sidebar */
/* Google Font Link */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101d;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open {
  width: 250px;
}
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #fff;
}
.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #fff;
}
.sidebar .bx-search:hover {
  background: #fff;
  color: #11101d;
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101d;
}
.sidebar li a:hover {
  background: #fff;
}
.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101d;
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile {
  width: 250px;
}
.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job {
  font-size: 12px;
}
.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.sidebar .profile #log_out:hover {
  background-color: white;
  color: black;
}
.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
  cursor: pointer;
}
.sidebar.open .profile #log_out:hover {
  background-color: #fff;
  color: black;
}

.home-section {
  position: relative;
  min-height: 100vh;
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 20px;
  background: linear-gradient(90deg, #8e1d9e, #b764c5);

  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
  display: flex;
  justify-content: center;
}
.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}

.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: bold;
  padding-right: 30px;
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}

.container-box {
  background: #fff;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(100% - 78px);
  margin-bottom: 50px;
}

.sidebar li .tooltip-logout {
  position: fixed;
  left: 80px;
  bottom: 5px;
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li.profile:hover .tooltip-logout {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip-logout {
  display: none;
}

#pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pagination-buttons {
  display: flex;
}

.pagination-button {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 0 4px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.pagination-button:hover {
  background-color: rgb(74, 74, 74);
}

.pagination-info {
  font-size: 16px;
}

.pagination-button:disabled,
.pagination-button.disabled {
  background-color: #e0e0e0;
  color: #888888;
  cursor: not-allowed;
}

/* Notification styling */
.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  width: auto; /* Adjust as needed */
  max-width: 300px;
  padding: 15px;
  border-radius: 8px;
  color: white;
  text-align: center;
  opacity: 0; /* Initially hidden */
  transform: translateX(100%); /* Awalnya berada sedikit di atas */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Transition for animation */
}

.notification.success {
  background-color: #4caf50; /* Green */
}

.notification.error {
  background-color: #f44336; /* Red */
}

/* Animation for showing notification */
.notification.show {
  opacity: 1; /* Make visible */
  transform: translateX(0); /* Move into view */
}

/* Animation for hiding notification */
.notification.hide {
  opacity: 0; /* Hide */
  transform: translateX(100%); /* Move out of view */
}

/* notif login */
.notification2 {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  width: auto;
  max-width: 300px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.notification2.success {
  border-color: #4caf50;
  background-color: #4caf50;
  color: white;
}

.notification2.error {
  background-color: #f44336;
  border-color: #f44336;
  color: white;
}

.notification2.visible {
  opacity: 1;
  transform: translateX(0);
}

.container-grafik {
  display: flex;
  padding-top: 20px;
  align-items: center;
  gap: 10px;
}

/* Text styling */
.text {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}

/* Label styling */
label {
  font-size: 1rem;
  color: #555;
}

/* Input and select styling */
input[type="month"],
select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  min-width: 10vw;
}

/* Button styling */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

/* Button hover and active states */
button:hover {
  background-color: #0056b3;
}

button:active {
  transform: scale(0.98);
}

canvas {
  padding-top: 30px;
}

footer {
  background-color: #11101d;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: calc(100% - 78px);
  left: 78px;
  z-index: 2;
  transition: all 0.5s ease;
}

.sidebar.open ~ footer {
  width: calc(100% - 250px);
  left: 250px;
}

.footer-content a {
  color: #a74d9d;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}
