/* Style untuk label dan input tanggal */
.container-box div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

/* Style untuk tombol generate */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px 0;
}

button:hover {
  background-color: #0056b3;
}

/* Style untuk container laporan */
#reportContainer {
  margin-top: 20px;
}
/* Style untuk tombol generate PDF */
#generatePdf {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#generatePdf:hover {
  background-color: #218838;
}

/* style button cetak */
.btn-cetak {
  justify-content: flex-end;
  display: flex;
}
